<!DOCTYPE html>

{% if user.is_authenticated %}

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'createtodo' %}">Create</a>
<a href="{% url 'currenttodos' %}">Current</a>
<a href="{% url 'completedtodos' %}">Completed</a>
<br /><br />
Logged in as: {{ user.username }}
<form action="{% url 'logoutuser' %}" method="POST">
  {% csrf_token %}
  <button type="submit" name="submit">Logout</button>
</form>
<hr>

{% else %}

<a href="{% url 'signupuser' %}">Sign up</a>
<a href="{% url 'loginuser' %}">Login</a>

{% endif %}

<p>
{% block content %}

{% endblock %}
</p>
