{% extends 'todo/base.html' %}

{% block content %}

<h2>View Todo's</h2>

<h2>{{ error }}</h2>

<p><b>{{ todos.title }}</b></p>

<form method="POST" id="save">
  {% csrf_token %}
  {{ form.as_p }}
</form>

<form method="POST" action="{% url 'completetodo' todo.id %}" id="complete">
  {% csrf_token %}
  </form>

<form method="POST" action="{% url 'deletetodo' todo.id %}" id="delete">
  {% csrf_token %}
</form>

<button type="submit" form="save">Save</button>
<button type="reset" form="save">Reset</button><br /><br />
<button type="submit" form="complete">Complete</button>
<button type="submit" form="delete">Delete</button>

{% endblock %}
